[defaults]                  # 預設值
inventory = ./inventory
remote_user = ansible
ask_pass = false
 
[privilege_escalation]      # 特權升級
become = true
become_method = sudo
become_user = root
become_ask_pass = false
